@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;800&display=swap');
html {
    display: flex;
}

body {
    font-family: 'Sarabun', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1f2d2d;
    position: relative;
    flex-grow: 1;
    height: 100vh; 
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home-container {
    max-width: 400px;
    width: 100%;
    margin: 20px;

    h4 {
        text-align: center;

        span {
            margin: 0px 1px;
            font-size: 30px;
            font-weight: bold;
        }

        .x-title {
            color:#00e6e6;
        }

        .o-title {
            color:#ffcc00;
        }
    }

    .player-box {
        padding: 20px;
        background-color: #2a3c3c;
        border-radius: 8px;
        box-shadow: 0px 5px 5px 0px rgb(21 30 30);

        p {
            margin: 0px 0px 5px 0px;
            color: #fff;
            font-size: 15px;
            text-align: center;
            word-spacing: 3px;
        }

        .pick-player {
            background-color: #1f2d2d;
            padding: 5px;
            border-radius: 5px;
            margin: 13px 0px;
            display: flex;
            cursor: pointer;

            p {
                height: 30px;
                display: flex;
                width: 50%;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                position: relative;
                margin: 0;
                //transition: color 500ms;

                .player-selector {
                    position: absolute;
                    width: 100%;
                    background-color: #fff;
                    left: 0;
                    top: 0;
                    height: 100%;
                    border-radius: 5px;
                    transition: left 500ms;
                }

                .go-right {
                    left: 100%;
                }
                
                .choosen_player {
                    z-index: 1;
                    color: #1f2d2d;
                    transition: color 500ms;
                }
            }
        }
    }

    a {
        text-decoration: none;

        .new-game-btn {
            color: #1f2d2d;
            width: 100%;
            padding: 10px;
            text-align: center;
            display: block;
            box-sizing: border-box;
            margin-top: 20px;
            border-radius: 8px;
            text-decoration: none;
            letter-spacing: 1px;
            font-weight: 600;
            border: none;
            cursor: pointer;
            transition: letter-spacing 500ms, font-size 500ms;
            box-shadow: 0px 5px 5px 0px rgb(21 30 30);
    
            &:hover {
                letter-spacing: 3px;
            }
        }
        .vs-cpu {
            background-color: #ffcc00;
        }
        .vs-player2 {
            background-color: #00e6e6;
        }
    }

   
}

.game-container {
    max-width: 500px;
    width: 100%;
    margin: 20px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;

        .home-title {
            cursor: pointer;
            margin: 0;

            span {
                margin: 0px 1px;
                font-size: 30px;
                font-weight: bold;
            }
    
            .x-title {
                color:#00e6e6;
            }
    
            .o-title {
                color:#ffcc00;
            }
        }

        .player-turn {
            background-color: #2a3c3c;
            color: #fff;
            padding: 7px 15px;
            border-radius: 5px;
            box-shadow: 0px 5px 5px 0px rgb(21 30 30);
        }

        .refresh {
            background-color: #e6ffff;
            padding: 7px 10px;
            color: #1f2d2d;
            border-radius: 5px;
            cursor: pointer;
            height: 21px;

                img {
                    height: 100%;
                }
        }
    }

    .fields {
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 20px;
        column-gap: 20px;

        span {
            height: 100px;
            border-radius: 8px;
            background-color: #2a3c3c;
            cursor: pointer;
            position: relative;
            box-shadow: 0px 5px 5px 0px rgb(21 30 30);

            /*icon {
                font-weight: bold;
                font-size: 35px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }*/

            .X-field,
            .O-field {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 60px;
                position: absolute;
                width: 100%;
                font-weight: bolder;
            }

            .X-field {
                color:#00e6e6;
            }

            .O-field {
                color:#ffcc00;
            }
        }

        .wining-field {
            background-color: #004d66;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        p {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: red;
            max-width: 150px;
            width: 100%;
            border-radius: 8px;
            padding: 10px 0;
            margin: 0;
            color: #1f2d2d;
        }

        .x-stats,
        .ties,
        .o-stats {
            :last-child {
                font-weight: bolder;
                font-size: 23px;
            }
        }

        .x-stats {
            background-color: #00e6e6;
        }

        .ties {
            background-color: #f0f0f5;
            margin: 0 20px;
        }

        .o-stats {
            background-color:#ffcc00;
        }
    }
}

.overlay {
    background-color: rgb(0, 19, 26, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 1;
    transform: translate(-50%, -50%);
    height: 100vh;

    > div {
        background-color: rgba(0, 77, 102, 0.9);
        padding: 50px 0;
        position: absolute;
        top: 16%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            color: #e6ffff;
            margin: 0;
        }
        h1 {
            color: #00e6e6;
            font-weight: bolder;
            margin: 30px 0;
            display: flex;
            align-items: center;

            span {
                font-size: 50px;
                font-weight: bolder;
                margin-right: 20px;
            }
        }

        .buttons {
            display: flex;

            .quit {
                background-color: #e6ffff;
                padding: 10px;
                border-radius: 8px;
                margin: 0 10px;
                border-bottom: 4px solid rgba(136,136,138,1);
                cursor: pointer;
            }

            .next-round {
                background-color: #ffcc00;;
                padding: 10px;
                border-radius: 8px;
                margin: 0 10px;
                border-bottom: 4px solid rgba(230,138,0,1);
                cursor: pointer;
            }
        }
    }
}
@media only screen and (max-width: 370px) {
    .game-container {
        max-width: none;
        .fields {

            span {
                height: 70px;

                .O-field,
                .X-field {
                    font-size: 40px;
                }
            }
        }
        .footer {
            column-gap: 5px;

            p {
                max-width: none;
            }

            .x-stats {
                background-color: #00e6e6;
                margin-bottom: 8px;
            }
    
            .ties {
                background-color: #ffcc00;
                margin: 0 0 8px 0;
            }
    
            .o-stats {
                background-color:#ffcc00;
                margin-bottom: 8px;
            }
        }
    }
    .overlay {
        div {
            padding: 15px 0;

            h1 {
                padding: 0 20px;
                font-size: 23px;
                margin: 10px 0;

                span {
                    font-size: 35px;
                }
            }
        }
    }
  }